.Dashboard{
    flex: 3;
    margin-top: 0px;
    padding: 0px;

    .header{
        background-color: rgb(12, 170, 232);
        padding: 10px;

        h1{
            color: white;
        }
    }
    .section1{
        display: flex;
        margin-top: 20px;

    .container1{    
        .row1{
            display: flex;

            .col1,.col2,.col3{
                border: 1px solid;
                border-radius: 20px;
                color: white;
                display: flex;
                padding: 20px;
                margin: 20px;
                

                .icon{
                    font-size: 60px;
                    margin: 10px;
                    margin-top: 20px;
                }

                .icon:hover{
                    color: black;
                }

                p{
                    text-align: right;
                }
            }
            .col1{
                background-color: red;
                border-color: red;
                margin-left: 150px;
            }
            .col2{
                background-color: purple;
                border-color: purple;
            }
            .col3{
                background-color: green;
                border-color: green;
            }
        }

        .row2{
            display: flex;

            .col1,.col2,.col3{
                margin: 0px 50px;
                text-align: center;
            }

            .col1{
                margin-left: 185px;
            }
            .icon{
                font-size: 40px; 
            }
            
            .icon:hover{
                color: red;
            }
        }

        .row3{
            display: flex;
            .col1,.col2,.col3{
                margin: 0px 80px;
                text-align: center;

                p{
                    text-align: center;
                }
            }

            .col1{
                margin-left: 200px;
            }

            .icon{
                font-size: 40px; 
            }

            .icon:hover{
                color: red;
            }

            p{
                text-align: left;
            }
        }

        .row4{
            display: flex;
            justify-content: space-around;

            .icon{
                font-size: 40px;
            }

            .icon:hover{
                color: red;
            }

            .col1{
                margin-left: 50px;
            }
        }
    }
    }

    h2{
        text-align: center;
        margin-left: 50px;
    }
    
}